.navBar {
  width: 100%;
  height: 50px;
  background-color: white;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  z-index: 999;
}

.navLeft,
.navRight {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navCenter {
  flex: 6;
}

.navImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.navList {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navLink {
  margin-right: 1rem;
  font-size: 1.5rem;
  font-weight: 300;
  cursor: pointer;
  color: black;
  text-decoration: none;
}
.navBtn {
  text-decoration: none;
  color: inherit;
}
